body, button, input {
  font-family: 'Gloria Hallelujah', cursive;

}

.page-button:hover{
  font-size: 23px;
}

button:focus{
  outline: none;
}


.center-screen{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 min-height: 100vh;
}

.custom-header {
  border-top-style: solid;
  border-color: black;
  border-width: 4px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  width: 50px;
  height: 50px;
  padding-top: 18px;
}

[class^=story-div] {
  text-align: center;
  /* border: grey solid 1px; */
  /* padding: 1rem; */
  width: 20%;
  display: inline-grid;
  justify-content: center;
}

[class^=story-div] img:hover {
  width: 70px;
}

.row .col-9{
  display: inline;
  font-size: 40px;
}

#new-story-button {
  padding: none;
  position: flex;
  float: right;
  display: inline;
  right: 0;
}

#new-story-button img{
  height: 62px;
  width: 62px;
}

#new-story-button img:hover {
  height: 55px;
  width: 55px;
}

input[placeholder] {
  font-size: 20px;
  width: 600px;
  border-radius: 10px;
  border-style: solid;
  margin: 5px;
}

input[placeholder]:focus {
  outline: none;
}

button, input[type=submit]{
  border: none;
  font-size: 20px;

}

.story-image{
  height: 100px;
  width: 100px;
}

.zoom-story{
  font-size: 50px;
  line-height: 110%;
}

.story-container{
  margin-top: 25px;
}

.doodle-images{
  width: 5px;
  height:5px;
  /* margin: 5px; */
}

.doodle-images:hover{
  /* border-style: dashed;
  border-width: 1px; */
  /* width: 10px; */
  background-color: grey;
  /* border-color: grey; */
}

button.doodle-images{
  width: auto;
  height: auto;
  /* box-sizing: border-box; */
  /* border-style: solid;
  border-width: 1px; */
}



.doodle-images:focus{
  border-width: 1px;
  box-sizing: border-box;

  border-style: solid;
  border-color: grey;
}

.doodle-container{
  margin-bottom: 50px;
}

.post-image{
  width: 140px;
  height: 140px;
}

.add-image-button{
  margin-top: 10px;
}

span{
  display: inline;
}



/* .story-container {
  min-height: 720px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 10px;
} */
