body, button, input {
  font-family: 'Gloria Hallelujah', cursive;
}

body{
  /* border-style: solid;
  border-radius: 10px; */
  max-width: 1440px;
  min-height: 720px;
  background-image: url("https://stmed.net/sites/default/files/minimalism-wallpapers-25255-1455717.jpg");

  /* https://wallpaper-house.com/data/out/10/wallpaper2you_418241.png */

  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  /* background-size: 1440px 1100px; */
}

.page-button:hover, #play-story:hover{
  font-size: 23px;
  cursor: pointer;
}

button:focus{
  outline: none;
}

img.final{
  width: 70px;
  height: 70px;
}

/* #test{
  position: relative;
  top: 50%;
  left: 50%;
  overflow: auto;
} */

.center-screen{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 /* min-height: 100vh; */
}

.horizontal-center{
  position: relative;
  left: auto;
  right: auto;
}

.custom-header {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 25px;
}

img {
  width: 50px;
  height: 50px;
  padding-top: 10px;
}

/* #header-img {
  border-style: outset;
  border-radius: 10px;
  padding: 5px;
  border-width: 5px;
} */

[class^=story-div] {
  width: 20%;
  display: inline-grid;
  text-align: center;
  justify-content: center;
}

[class^=story-div] img {
  width: 90px;
  height: 90px;
}

.row .col-9{
  display: inline;
  font-size: 40px;
}

div.col-9:hover{
  cursor: pointer;
}

#new-story-button {
  padding: 5px;
  position: flex;
  float: right;
  display: inline;
  right: 0;
  border-style: outset;
  /* border-color: black; */
  border-radius: 10px;
  border-width: 5px;
}

#new-story-button img{
  height: 40px;
  width: 40px;
}

#new-story-button:hover {
  cursor: pointer;
}

button, input {
  background-color: transparent;
  color: black;
}

input[placeholder] {
  font-size: 20px;
  width: 600px;
  border-radius: 10px;
  border-style: solid;
  margin: 5px;

}

input[placeholder]:focus {
  outline: none;
}

button, input[type=submit]{
  border: none;
  font-size: 20px;
}

.story-image{
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.story-image:hover{
  cursor: pointer;
}

.zoom-story{
  font-size: 50px;
  line-height: 110%;
}

.center-screen{
  animation-duration: 1s;
  animation-name: slideFromBottom;
}

@keyframes slideFromBottom {
  from {
    margin-top: 30%;
    /* height: 300%; */
  }

  to {
    margin-top: 0%;
    /* height: 100%; */
  }
}

.final{
  animation-duration: 2s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.story-container{
  /* margin-top: 25px; */
  margin-left: 25px;
  margin-right: 25px;
}

img.doodle{
  opacity: 1 !important;
}

.doodle-images{
  width: 5px;
  height:5px;
  background-color: transparent;
}

.doodle-images:hover{
  /* border-style: dashed;
  border-width: 1px; */
  /* width: 10px; */
  background-color: lightgrey;
  border-radius: 10px;
  cursor: pointer;
  /* border-color: grey; */
}

button.doodle-images{
  width: auto;
  height: auto;
  margin: 5px;
  /* box-sizing: border-box; */
  /* border-style: solid;
  border-width: 1px; */
}

.doodle-images:focus{
  background-color: lightgrey;
  border-radius: 10px;
}

.doodle-container{
  margin-bottom: 50px;
}

.post-image{
  width: 140px;
  height: 140px;
}

.add-image-button{
  margin-top: 10px;
}

span{
  display: inline;
}

/*  this 'theEnd' thing is only rendering in a hacky way,
because of the fetches in playStory*/
#the-end{
  border-style: outset;
  border-radius: 10px;
  border-color: black;
  cursor: pointer;
}

#play-story{
  position: fixed;
  left: 45%;
  top: 45%;
}

/*  these text items are also rendering in a hacky 'center', inconsistent*/
/* .final-story{
  position: relative;
  left: 37%;
}

.final-image{
  position: relative;
  left: 45%;
} */

#header-title{
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  /* color: #898989; */
}

#slideshow-title{
  font-size: 50px;
}

.slideshowPost{
  text-align: center;
}

::placeholder {
  color:black;
}
